<div class="container-fluid text-center">    
    <div class="row content">
      <div class="col-sm-2 sidenav">
        
      </div>
      <div class="col-sm-8 text-left"> 
        <h1>BIENVENIDO!</h1>
        <p>
          La aplicación web de Car Deal ofrece una solución integral para gestionar eficientemente el inventario de vehículos de su concesionario. Con características que van desde la facilidad para agregar nuevos modelos hasta la capacidad de actualizar información detallada sobre cada automóvil, pasando por la lectura rápida y precisa de los datos existentes, así como la eliminación oportuna de entradas obsoletas. Con nuestra plataforma, Car Deal garantiza una gestión fluida y efectiva de su inventario, permitiéndole centrarse en brindar un servicio excepcional a sus clientes y mantenerse a la vanguardia en la industria automotriz.</p>
        <hr>
        <img src="https://st3.depositphotos.com/15707374/18467/v/450/depositphotos_184670382-stock-illustration-vector-logo-design-of-car.jpg" alt="">
        <br>
       
       <a class="btn btn-primary" href="inventario">Lista de vehiculos</a>
      </div>
      <div class="col-sm-2 sidenav">
        <div class="well">
          <p></p>
        </div>
        <div class="well">
          <p></p>
        </div>
      </div>
    </div>
  </div>